.bar-header {
  margin: 3em;
}

#sidebar {
  color: lightgray;
  background-color: black;
  position: absolute;
  width: 20%;
  height: 100%;
}

#sidebar.active {
  left: -270px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  padding: 0.5em;
  color: #A4A4A4;
}

#sidebar li:hover {
  background-color: #333333;
}

.toggle-button {
  position: absolute;
  left: 280px;
  top: 20px;
}

.toggle-button span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: black;
  margin: 3px 0px;
  border: grey;
  border-width: 1.3px;
  border-radius: 3px;
  border-style: solid;
}

label {
  display: block;
  padding: 0.5em 0.7em;
  font-size: 18px;
  font-weight: bold;
  color: #A4A4A4;
}

input {
  width: 75%;
  border: none;
  height: 4%;
}

button {
  background: dodgerblue;
  width: 25%;
  height: 4%;
}
