.bar-header {
  margin: 3em;
}

#sidebar {
  color: lightgray;
  background-color: black;
  position: absolute;
  width: 20%;
  height: 100%;
}

#sidebar.active {
  left: -20%;
}

#sidebar button {
  width: 100%;
  padding: 1em;
  color: lightgray;
  background: black;
  text-align: left;
  font-size: 0.8em;
  border: none;
}

#sidebar button:focus {
  background-color: #333333;
}

#sidebar button:hover {
  background-color: #333333;
}

.toggle-button {
  position: absolute;
  left: 105%;
  top: 20px;
}

.toggle-button span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: black;
  margin: 3px 0px;
  border: grey;
  border-width: 1.3px;
  border-radius: 3px;
  border-style: solid;
}

label.search-label {
  display: block;
  padding: 0.5em 0.7em;
  font-size: 18px;
  font-weight: bold;
  color: #A4A4A4;
}

#search-field {
  width: 75%;
  border: none;
  height: 2em;
}

input.search-button {
  background: dodgerblue;
  width: 25%;
  height: 2em;
}

@media only screen and (max-width: 900px) {
  #sidebar {
    width: 30%;
  }

  #sidebar.active {
    left: -30%;
  }
}

@media only screen and (max-width: 700px) {
  #sidebar {
    width: 50%;
  }

  #sidebar.active {
    left: -50%;
  }
}
